In [1]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome',**executable_path, headless=False)

In [3]:
### NASA Mars News
mars_url = 'https://mars.nasa.gov/news/'
browser.visit(mars_url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
items = soup.find_all('li',class_='slide')

In [6]:
# Store the recent article, title and date
article = soup.find("div", class_="list_text")
news_p = article.find("div", class_="article_teaser_body").text
news_title = article.find("div", class_="content_title").text
news_date = article.find("div", class_="list_date").text
print(news_date)
print(news_title)
print(news_p)

December 19, 2018
NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
#JPL Mars Space Images - Featured Image
mars_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(mars_image_url)

In [9]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')
ul = soup.find('ul',class_='articles')
images = ul.find_all('li',class_='slide')

In [10]:
image = images[0]
featured_image_a = image.find('a',class_='fancybox')
featured_image_href = featured_image_a.get('data-fancybox-href')
url_original = 'https://www.jpl.nasa.gov'
featured_image_url = url_original + featured_image_href
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22994_hires.jpg

In [11]:
### Mars Weather
mars_weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_weather_url)

In [12]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')
ol = soup.find('ol',id='stream-items-id')
weather_li = ol.find_all('li')
latest_weather = weather_li[0]
latest_weather_p = latest_weather.find('p')
mars_weather = latest_weather_p.text.strip()
print(mars_weather)

Sol 2291 (2019-01-16), high -8C/17F, low -70C/-93F, pressure at 8.23 hPa, daylight 06:46-18:55pic.twitter.com/IRiqxlJqvT

In [16]:
#Mars Facts
mars_facts_url = 'http://space-facts.com/mars/'
mars_table = pd.read_html(mars_facts_url)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
mars_df = mars_table[0]
mars_df.columns = ['Mars Fact', 'Value']
mars_df

              Mars Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers